@import "../../styles/globals";

$icon-size: 32px;

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    font-family: Georgia, serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main--socials {
    display: flex;
}

.main--socials-links {
    transition: opacity .25s;
}

.main--socials-link {
    margin-right: 8px;
    height: $icon-size;
}

.main--socials-link:last-child {
    margin-right: 0;
}

.main--socials-icon {
    width: $icon-size;
}
