@import "../../styles/globals";

$background-colour: #282828;
$framework-blue-dark: #0D3962;
$framework-blue: #28659E;
$framework-blue-light: #5E97CB;
$framework-blue-lightest: #92C3EF;
$framework-blue-gradient: linear-gradient(90deg, $framework-blue 0%, $framework-blue-light 100%);


.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: $background-colour;
    color: white;
    font-family: Georgia, serif;
    justify-content: center;
}

.main-content {
    position: relative;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.main-content .main-section {
    scroll-snap-align: start
}

.main-content-vertical-nav {
    right: 0;
    height: 100vh;
    position: fixed;
    transition: opacity $global-load;
}

.main-section {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: white;
}

.main-projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    color: black;
}

.main-projects-section-title-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    align-self: start;
}

.main-projects-section-title {
    color: darkgray;
    margin: 64px 0 0;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    font-size: 128px;
}

.main-section__gallery {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-section__gallery-piece {
    display: flex;
    flex: 1;
}
