.crosshair-create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.crosshair-create-main, .crosshair-create-section {
  width: 100%;
}

.crosshair-create-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.crosshair-create-title {
  align-self: center;
  width: 300px;
}

.crosshair-create-buttons {
  display: flex;
}

.crosshair-create-button {
  font-weight: 700;
  font-size: 24px;
  padding: 4px 48px;
  background: lightgray;
  margin-left: 12px;
}

.crosshair-create-slider, .crosshair-create-drop-down-list {
  flex: 1;
}

.crosshair-create-drop-down-list {
  position: relative;
}

.crosshair-create-drop-down-button {
  width: 100%;
  text-align: center;
}

.crosshair-create-colour-modal {
}

.crosshair-create-colour-select {
  text-align: center;
}