@import "../../styles/globals";


.carousel-container {
  display: flex;
}

.carousel-display-large {
  display: none;

  @include breakpoint($t) {
    display: flex;
    flex-direction: row;
  }
}

.carousel-display-small {

  @include breakpoint($t) {
    display: none;
  }
}

.carousel-buttons {
  padding: 0;
  margin: 32px 16px 32px 16px;
  list-style-type: none;
  user-select: none;
  text-align: center;
}

.carousel-content {
  padding: 8px;
  transition-duration: 0.2s;

  @include breakpoint($t) {
    display: block;
    width: 450px;
  }
  @include breakpoint($l) {
    width: 600px;
  }

  @include breakpoint($xl) {
    width: 800px;
  }
}
