@import "../../styles/globals";


.carousel-container {
  display: flex;
  flex-direction: row;
}

.carousel-buttons {
  padding: 0;
  margin: 32px 16px 32px 16px;
  list-style-type: none;
  user-select: none;
  text-align: center;
}

.carousel-content {
  padding: 8px;
  transition-duration: 0.2s;
  @include breakpoint($l) {
    width: 600px;
  }

  @include breakpoint($xl) {
    width: 800px;
  }
}
