.crosshair-create-row {
  display: flex;
  justify-content: space-between;
}

.crosshair-create-buttons {
  display: flex;
}

.crosshair-create-button {
  font-weight: 700;
  font-size: 24px;
  padding: 4px 48px;
  background: lightgray;
  margin-left: 12px;
}

.crosshair-create-slider {
  width: 50%
}
